# HF and Data
torch==2.2.0
torchvision==0.17.0
transformers
datasets
accelerate
huggingface_hub

# Specific to Qwen and VLMs
qwen-vl-utils

# Finetuning tools
trl
bitsandbytes

# Utils
supabase
python-dotenv
pillow
pillow-avif-plugin
tqdm
scikit-learn
pandas
requests
