torch>=2.2.0
transformers<4.42.0
datasets
evaluate
scikit-learn
pandas
pillow
pillow-avif-plugin
python-dotenv
supabase
tqdm
optimum[onnx]<1.20.0
onnx
onnxruntime
huggingface_hub
accelerate
jiwer
requests
tensorboard
